<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphel Project</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <h1>Diseño <span>Multimedia</span></h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--Seccion Registro reciclado-->
        <article class="registro">
            <p>Subscríbete a nuestro boletín</p>
            <form>
                <input type="email" id="email" placeholder="Ingresa el Email">
                <button>Subscribete</button>
            </form>
        </article>
        <!--Seccion 1 nosotros-->
        <section class="seccion1">
            <!--<figure>
                <img class="superior" src="assets/cabecera.jpg" alt="Imagen de cabecera">
            </figure> -->
            <article>
                <h2>Que hacemos</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellendus at ratione voluptates tempore. Atque sint error 
                    commodi nostrum, saepe magni aut dolore ea, reprehenderit 
                    inventore placeat quos deserunt, a quisquam.
                </p>
            </article>
        </section>
        
    </main>
    <footer>
        <!--Seccion 4-->
        <p>Graphel Desarrollo Web, Copyright &copy; 2025 By Eider Tapasco</p>
    </footer>
</body>
</html>