<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphel Project Nosotros</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <h1>Diseño <span>Multimedia</span></h1>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--Seccion Registro reciclado-->
        <article class="registro">
            <p>Subscríbete a nuestro boletín</p>
            <form>
                <input type="email" id="email" placeholder="Ingresa el Email...">
                <button>Suscribirse</button>
            </form>
        </article>
        <!--Seccion nosotros-->
        <section class="sect-nosotros">
            <article>
                <h3>Nosotros</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Eaque suscipit deleniti et cupiditate. Eius consectetur dolor, 
                    quisquam nostrum aperiam officia beatae. Molestias reprehenderit 
                    deleniti at deserunt. Necessitatibus similique quia amet.
                    ipsum dolor sit, amet consectetur adipisicing elit. 
                    Eaque suscipit deleniti et cupiditate. Eius consectetur dolor, 
                    quisquam nostrum aperiam officia beatae. Molestias reprehenderit 
                    deleniti at deserunt. Necessitatibus similique quia amet.
                    ipsum dolor sit, amet consectetur adipisicing elit. 
                    Eaque suscipit deleniti et cupiditate. Eius consectetur dolor, 
                    quisquam nostrum aperiam officia beatae. Molestias reprehenderit 
                    deleniti at deserunt. Necessitatibus similique quia amet.
                </p>
                <p class="p-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Esse molestias dolorem deleniti cumque sapiente optio 
                    aspernatur incidunt vero. Dignissimos voluptate mollitia deleniti dolor 
                    illo reiciendis, consectetur provident fuga numquam ipsam!
                    ipsum dolor sit, amet consectetur adipisicing elit. 
                    Eaque suscipit deleniti et cupiditate. Eius consectetur dolor, 
                    quisquam nostrum aperiam officia beatae. Molestias reprehenderit 
                    deleniti at deserunt. Necessitatibus similique quia amet.
                    ipsum dolor sit, amet consectetur adipisicing elit. 
                    Eaque suscipit deleniti et cupiditate.  ipsum dolor sit, amet consectetur adipisicing elit. 
                    Eaque suscipit deleniti et cupiditate. Eius consectetur dolor, 
                    quisquam nostrum aperiam officia beatae. Molestias reprehenderit 
                    deleniti at deserunt. Necessitatibus similique quia amet.
                </p>
                <figure class="image2">
                    <img src="../assets/891.jpg" alt="">
                </figure>
            </article>
            <!--Aside del que hacemos lateral-->
            <aside>
                <div>
                    <h2>Que hacemos</h2>
                    <p class="p-div">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellendus at ratione.ipsum dolor sit amet consectetur adipisicing elit.
                    Repellendus at ratione voluptates tempore. Atque sint error 
                    commodi nostrum, saepe magni aut dolore ea, reprehenderit 
                    inventore placeat quos deserunt, a quisquam.
                    </p>
                </div>
            </aside>
        </section>
    </main>
    <footer>
        <!--Seccion 4-->
        <p>Graphel Desarrollo Web, Copyright &copy; 2025 By Eider Tapasco</p>
    </footer>
</body>
</html>