<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphel Project Servicios</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <h1>Diseño<span>Multimedia</span></h1>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="#">SERVICIOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!--Seccion Registro reciclado-->
        <article class="registro">
            <p>Subscríbete a nuestro boletín</p>
            <form>
                <input type="email" id="email" placeholder="Ingresa el Email...">
                <button>Suscribirse</button>
            </form>
        </article>

        <section class="sect-servicios">
            <article>
                <h3>Servicios</h3>
                <div class="div-box">
                    <h3>Diseño Web</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium 
                        numquam aperiam voluptatem optio, molestias labore officiis aliquam 
                        temporibus sequi minus a ipsam omnis magni, corporis, explicabo 
                        illum deserunt esse blanditiis.
                        <br><br>
                        Precio: $300000 - $1000000
                    </p>
                </div>
                <div class="div-box">
                    <h3>Desarrollo Web</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium 
                        numquam aperiam voluptatem optio, molestias labore officiis aliquam 
                        temporibus sequi minus a ipsam omnis magni, corporis, explicabo 
                        illum deserunt esse blanditiis.
                        <br><br>
                        Precio desde: $1000000
                    </p>
                </div>
                <div class="div-box">
                    <h3>Hosting Web</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium 
                        numquam aperiam voluptatem optio, molestias labore officiis aliquam 
                        temporibus sequi minus a ipsam omnis magni, corporis, explicabo 
                        illum deserunt esse blanditiis.
                        <br><br>
                        Precio: $300000
                    </p>
                </div>
            </article>
            <aside>
                <div>
                    <h2>Que hacemos</h2>
                    <p class="p-div">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellendus at ratione.ipsum dolor sit amet consectetur adipisicing elit.
                        Repellendus at ratione voluptates tempore. Atque sint error 
                        commodi nostrum, saepe magni aut dolore ea, reprehenderit 
                        inventore placeat quos deserunt, a quisquam.
                    </p>
                </div>
            </aside>
        </section>
    </main>
    <footer>
        <p>Graphel Desarrollo Web, Copyright &copy; 2025 By Eider Tapasco</p>
    </footer>
</body>
</html>