*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Disminuye el espacio interno para que el padding no haga crecer el contenedor.*/
}

header{
    background-color: #24282B;
    border-bottom: 2px solid #1293D4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 80px;
    padding-right: 30px;
}

header h1{
    color: #F4F4F4;
}

header h1 span{
    color: #1688CF;
}
header nav{
    color: #F4F4F4;
    width: 40%;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

header nav a{
    color: #F4F4F4;
    text-decoration: none;
    font-size: 20px;
}

.seccion1{
    background: url("../assets/cabecera.jpg");
    height: 80vh;
    background-position-y: -300px;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-size: cover;*/
    width: 100%;
}

.seccion1 h2{
    color: #F4F4F4;
    font-size: 50px;
    font-weight: 3000;
    margin-bottom: 20px;
    
}
.seccion1 p{
    color: #F4F4F4;
    font-size: 18px;
}
/*--------------Seccion 2------------------------*/
.registro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 130px;
    height: 80px;
    background-color: #24282B;
    color: #FFFFFF;
}
.registro p{
    font-size: 25px;
}
.registro input{
    padding: 7px;
}
.registro button{
    color: #FFFFFF;
    background-color: #E8491D;
    padding: 5px 15px;
    border-radius: 3px;
    border-color: transparent;
}

/*------------Seccion 3-----------------*/

.tarjetas{
    display: flex;
    padding: 0px 80px;
    justify-content: space-between;
    margin: 6vh;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.card p{
    text-align: center;
}

footer{
    background-color: #1293D4;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}